.video {
  position: relative;
  background-color: white;
  color: black;
  width: 90%;
  height: 100%;
  scroll-snap-align: start;
}

.video_player {
  object-fit: fill;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}
