.videofooter {
  position: relative;
  color: black;
  bottom: 150px;
  margin-top: 10px;
  margin-left: 20px;
}

.videofooter > p {
  padding-bottom: 15px;
  padding-top: 10px;
}

.ticker_text {
  font-size: 15px;
  font-weight: 500;
  padding-top: 2px;
}

.videofooter_icon {
  position: absolute;
}

.videofooter_ticker > .ticker {
  height: fit-content;
  margin-left: 30px;
  width: 80%;
}
