html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.app_videos {
  height: 600px;
  overflow: scroll;
  border-radius: 20px;
  width: 70%;
  max-width: 350px;
  scroll-snap-type: y mandatory;
}

.app_videos::-webkit-scrollbar {
  display: none;
}

.app_videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
